<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Insurance App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>About This Project</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/project">Predict</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <p>This web app predicts medical insurance charges using user inputs like age, BMI, smoker status, and region.</p>
        <p>It's built using Flask, HTML/CSS, and a machine learning model trained using Python libraries.</p>
    </main>

    <footer>
        &copy; 2025 Insurance Predictor | All rights reserved
    </footer>
</body>
</html>
